---
import { Image } from "astro:assets";
import star from "../../public/img/star.png";
import melody from "../../public/img/melody.webp";
---

<section class="flex flex-row items-center justify-around gap-4 py-4 mt-10">
  <Image
    class="rounded-2xl appear"
    loading="eager"
    src={melody}
    alt="Melody"
    height={500}
  />

  <Image
    class="rounded-2xl absolute star-movement"
    loading="eager"
    src={star}
    alt="Star"
    width={100}
  />
  <Image
    class="rounded-2xl absolute right-1 top-[500px] star-movement"
    loading="eager"
    src={star}
    alt="Star"
    width={100}
  />

  <p class="flex flex-col items-center gap-4 text-fontColor appear">
    <span class="text-8xl font-Chewy text-fontColor">Make it posible!</span>
    <span class="text-4xl font-Chewy text-fontColor">Crafts & crochet</span>
  </p>
</section>
<style>
  .star-movement {
    animation:
      appear 1s,
      star-movement 2s infinite;
  }
  @keyframes star-movement {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    55% {
      -webkit-transform: rotate(0.1turn);
      transform: rotate(0.1turn);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }

    100% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  }
  .appear {
    animation-name: appear;
    animation-duration: 1s;
  }
  @keyframes appear {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
</style>
